<!-- Features -->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Galería de proyectos</h2>
                <div class="p-heading p-large">Te mostramos lo que somos capaces de hacer para vos y tu negocio.</div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">

            <!-- Tabs Links -->
            <ul class="nav nav-tabs" id="lenoTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-code"></i>Desarrollo web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-video"></i>Vídeos publicitarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-poll"></i>Marketing</a>
                </li>
            </ul>
            <!-- end of tabs links -->


            <!-- Tabs Content-->
            <div class="tab-content" id="lenoTabsContent">
                
                <!-- Tab -->
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                    <div class="container">
                        <div class="row web-jobs"  style="display: flex; justify-content: center;">                           
                           
                            <div>
                                <a target="_blank" href=""><img src="../../../assets/images/uof.png" width="300px" height="200px" alt=""></a>
                            </div>
                            <div>
                                <a target="_blank" href=""><img src="https://www.inovatik.com/images/gemdev-product-website-bootstrap-html-template-cover.jpg" width="300px" height="200px" alt=""></a>
                            </div>
                            <div>
                                <a target="_blank" href="https://www.inovatik.com/spify/index.html"><img src="https://www.inovatik.com/images/spify-business-website-bootstrap-html-template-cover.jpg" width="300px" height="200px" alt=""></a>
                            </div>
                            <div>
                                <a target="_blank" href=""><img src="https://www.inovatik.com/images/evolo-startup-website-bootstrap-html-template-cover.jpg" width="300px" height="200px" alt=""></a>
                            </div>
                            <div>
                                <a target="_blank" href=""><img src="https://www.inovatik.com/images/aria-business-website-bootstrap-html-template-cover.jpg" width="300px" height="200px" alt=""></a>
                            </div>
                            <div>
                                <a target="_blank" href="https://www.inovatik.com/vera/index.html"><img src="https://www.inovatik.com/images/vera-business-website-bootstrap-html-template-cover.jpg" width="300px" height="200px" alt=""></a>
                            </div>
                            

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                    <div class="container">
                        <div class="row" style="display: flex; justify-content: center;">
                           

                            <!-- Video Preview -->
                            <div class="image-container" style="width: 300px; height: 200px;">
                                <div class="video-wrapper">
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=MrxGdtYzUkk&list=PLcHPgh3JlpOvLfQWGZjRSXzCBXHOp-blW" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{getId('https://www.youtube.com/watch?v=MrxGdtYzUkk&list=PLcHPgh3JlpOvLfQWGZjRSXzCBXHOp-blW')}}" alt="alternative">
                                        <span class="video-play-button">
                                            <span></span>
                                        </span>
                                    </a>
                                </div> <!-- end of video-wrapper -->
                            </div> <!-- end of image-container -->
                            <!-- end of video preview -->

                            <div class="image-container" style="width: 300px; height: 200px;">
                                <div class="video-wrapper">
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=tKXxJ29HEiQ&list=PLcHPgh3JlpOvLfQWGZjRSXzCBXHOp-blW&index=2" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{getId('https://www.youtube.com/watch?v=tKXxJ29HEiQ&list=PLcHPgh3JlpOvLfQWGZjRSXzCBXHOp-blW&index=2')}}" alt="alternative">
                                        <span class="video-play-button">
                                            <span></span>
                                        </span>
                                    </a>
                                </div> <!-- end of video-wrapper -->
                            </div> <!-- end of image-container -->
                            <!-- end of video preview -->
                                

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                    <div class="container">
                        <div class="row">

                            <!-- Text And Icon Cards Area -->
                            <div class="col-md-8">
                                <div class="icon-cards-area">
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-calendar-check"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Calendar Input</h4>
                                            <p>Schedule your appointments, meetings and periodical evaluations using the provided in-app calendar option</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-file-code"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Visual Editor</h4>
                                            <p>Leno provides a well designed and ergonomic visual editor for you to edit your notes and input data</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="fas fa-cube"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Good Foundation</h4>
                                            <p>Get a solid foundation for your self development efforts. Try Leno mobile app for any mobile platform</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-bookmark"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Easy Reading</h4>
                                            <p>Reading focus mode for long form articles, ebooks and other materials which involve large text areas</p>
                                        </div>
                                    </div>
                                </div> <!-- end of icon cards area -->
                                
                                <div class="text-area">
                                    <h3>Monitoring Tools Evaluation</h3>
                                    <p>Monitor the evolution of your finances and health state using tools integrated in Leno. The generated real time reports can be filtered based on any <a class="turquoise" href="#your-link">desired criteria</a>.</p>
                                </div> <!-- end of text-area -->
                            </div> <!-- end of col-md-8 -->
                            <!-- end of text and icon cards area -->

                            <!-- Image Pane -->
                            <div class="col-md-4">
                                <img class="img-fluid" src="../../../assets/images/features-iphone-3.png" alt="alternative">
                            </div>
                            <!-- end of image pane -->
                                
                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div><!-- end of tab-pane -->
                <!-- end of tab -->

            </div> <!-- end of tab-content -->
            <!-- end of tabs content -->

        </div> <!-- end of row --> 
    </div> <!-- end of container --> 
</div> <!-- end of tabs -->
<!-- end of features -->

