
<!-- Header -->
<header id="header" class="header">
    <!--POINTS TRACE-->
    <img class="point-trace" id="point-trace1" src="../../../assets/images/point-trace.png" alt="">

    <!--POINTS-->    
    <img class="point" id="point1" src="../../../assets/images/point.png" alt="">
    <img class="point" id="point2" src="../../../assets/images/point.png" alt="">
    <img class="point" id="point3" src="../../../assets/images/point.png" alt="">
    <img class="point" id="point4" src="../../../assets/images/point.png" alt="">

    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container animate__animated animate__fadeInLeft">
                        
                        <h1>LA SOLUCIÓN DE VENTAS PARA <br> <span id="js-rotating">TU NEGOCIO, TU EMPRESA, TUS REDES, TU MARCA</span></h1>
                        <p class="p-large">Somos un equipo de expertos de marketing, desarrolladores y diseñadores capaces de incrementar las ventas de tu negocio en internet.</p>
                        <a class="btn-solid-lg page-scroll" href="#your-link">¡AUMENTAR MIS VENTAS!</a>
                        <a class="btn-solid-lg page-scroll" href="#your-link">VER CLIENTES</a>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class=" image-container animate__animated animate__fadeInRight text-right">
                        <!-- <img class="img-fluid " src="../../../assets/images/header-iphone.png" alt="alternative"> -->
                        <img id="til" class="img-fluid " data-tilt-full-page-listening src="../../../assets/images/features-iphone-1.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
    <app-waves></app-waves>
</header> <!-- end of header -->
<!-- end of header -->