
<!-- Header -->
<header id="header" class="header">
    <!--POINTS TRACE-->
    <img class="point-trace xd" id="point-trace1" src="../../../assets/images/point-trace.png" alt="">

    <!--POINTS-->    
    <img class="point" id="point1" src="../../../assets/images/point.png" alt="">
    <img class="point" id="point2" src="../../../assets/images/point.png" alt="">
    <img class="point" id="point3" src="../../../assets/images/point.png" alt="">
    <img class="point" id="point4" src="../../../assets/images/point.png" alt="">

    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container animate__animated animate__fadeInLeft">
                        <!-- <div id="prueba" data-tilt-full-page-listening style="position: relative; display: flex; justify-content: center; align-items: center; width: 400px; height: 400px; transform-style: preserve-3d; transform: perspective(1000px);">
                            <h2 style="background-color: blue; display: inline-block; transform: translateZ(150px); position: absolute; top: 0; left: 0; z-index: 2;">Hola mundo</h2>
                            <img style="transform: translateZ(10px);" id="til" class="img-fluid"  src="../../../assets/images/details-lightbox-1.png" alt="alternative">
                        </div> -->
                        <h1>LA SOLUCIÓN DE VENTAS PARA <br> <span id="js-rotating">TU NEGOCIO, TU EMPRESA, TUS REDES, TU MARCA</span></h1>
                        <p class="p-large">Somos un equipo de expertos de marketing, desarrolladores y diseñadores capaces de incrementar las ventas de tu negocio en internet.</p>
                        <a class="btn-solid-lg page-scroll" href="#your-link">¡AUMENTAR MIS VENTAS!</a>
                        <a class="btn-solid-lg page-scroll" href="#your-link">VER CLIENTES</a>
                    </div>
                </div> <!-- end of col -->
                <div  class="col-lg-6">
                    <div  class=" image-container animate__animated animate__fadeInRight text-center">
                        <div id="prueba" data-tilt-full-page-listening style="position: relative; transform-style: preserve-3d; transform: perspective(1000px);">
                            <a href="" style=" -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.75);
                            box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.75); text-decoration: none; color: #00c9db; font-size: 20px; background-color: rgba(0, 0, 0, 0.9); padding: 30px; border-radius: 10px ; z-index: 2; position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%) translateZ(90px);" >¿Empezamos?</a>
                            <img id="til" style="transform: translateZ(10px);" class="img-fluid" data-tilt-full-page-listening src="../../../assets/images/details-lightbox-2-mod.png" alt="alternative">
                            
                        </div>
                        <!-- <img class="img-fluid " src="../../../assets/images/header-iphone.png" alt="alternative"> -->
                        
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
    <app-waves></app-waves>
</header> <!-- end of header -->
<!-- end of header -->