<div id="servicios" class="text-center">
    <h2>Sabemos como ayudarte a crecer</h2>
    <h4>Ofrecemos los siguientes servicios para tu negocio</h4>

    <!-- Details 1 -->
    <div id="details" class="marg-5">
        <div class="container wow  animate__animated animate__fadeInUp" data-wow-duration="1s">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="../../../assets/images/details-1-iphone.png" alt="alternative">
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h3 class="c-lb">Marketing Digital</h3>
                        <p>El marketing digital es una pieza clave para el éxito en tu negocio, en estos tiempos es indispensable contar con una estrategia para aumentar tu visibilidad en internet.</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Más información</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->


    <!-- Details 2 -->
    <div class="marg-5">
        <div class="second">
            <div class="container wow  animate__animated animate__fadeInUp" data-wow-duration="1s">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3 class="c-lb">Desarrollo de aplicación web</h3>
                            <p>El sitio web perfecto para tu empresa, con diseños modernos, enfocados al rubro, adaptados para entrar desde una PC, Notebook, Tablet o Celular y sistemas a medida para la mejor gestión de tu negocio.</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">Más información</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <img class="img-fluid" src="../../../assets/images/details-2-iphone.png" alt="alternative">
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of second -->
    </div> <!-- end of basic-3 -->    
    <!-- end of details 2 -->

    <!-- Details 1 -->
    <div id="details" class="marg-5">
        <div class="container wow  animate__animated animate__fadeInUp" data-wow-duration="1s">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="../../../assets/images/details-1-iphone.png" alt="alternative">
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h3 class="c-lb">Vídeos e Imágenes publicitarias</h3>
                        <p>Contamos con estudio propio para la mejor producción de medios audiovisuales para impresionar a tu público objetivo a través de redes sociales e internet.</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Más información</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->
</div>